
.flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 30px;

}

.firstGameCanvas{
    width: 600px;
    height: 640px;
    border: 10px solid red;
}

.flex-container3{
    border: 10px solid red;
    background-color: red;
}

.firstMenuDiv{
    width: 100%;
    height: 20%;
}

.secondMenuDiv{
    width: 100%;
    height: 60%;
}

.thirdMenuDiv{
    width: 100%;
    height: 20%;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(239,239,251);
    font-size: 40px;
}

#game .screen {
    position: absolute;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#game .screen.active {
    display: block;
}

#main-menu #high-scores{
    /*padding-top: 1em;*/
    cursor: pointer;
    font-size: 0.75em;
    width: 100%;
    height: 100%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.firstContainer{
    width: 100%;
    height: 65%;
    padding-top: 30px;
    padding: 30px;
    font-size: 150px;
    font-family: Arial;
    color: crimson;
}

.secondContainer{
    width: 100%;
    height: 35%;
    padding: 20px;
}

.thirdContainer{
    width: 100%;
    height: 20%;
    padding: 30px;
    font-size: 35px;
    font-family: Arial;
    color: crimson;
}

.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background: url("../images/sand_template.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.menu  {
    /*margin: 0.8em 0;*/
}

.menu button {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #CECEF6;
    width: 10em;
    height: 3em;
    background: crimson;
    /*border: 0.1em solid rgb(255, 0, 0);*/
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

.menu button:hover {
    background: black;
}

.menu button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#game div p {
    font-size: 0.5em;
}

#about p {
    text-align: center;
}
